.alphabets {
  text-align: center;
}

.alphabet {
  background: peru;
  border: none;
  outline: none;
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  display: inline-block;
  margin: 0.6rem;
  color: white;
  transition: all 0.2s;
}
.alphabet:hover {
  background: rgba(204, 201, 198, 0.692);
  transform: scale(1.09);
}
.alphabet:active {
  background: rgba(204, 201, 198, 0.692);
  transform: scale(1);
}
